# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# TypeScript
dist/
*.tsbuildinfo

# Docker
docker-data/

# Archivos varios
*.doc
*.docx
*.pdf
*.txt
*terabox.uploading.cfg

frontend/.next-trading-lab/
